:root {
    --title: 2.9875rem;        /* 47.8px / 16px = 2.9875rem */
    --title-2: 2.4875rem;      /* 39.8px / 16px = 2.4875rem */
    --subtitle: 2.075rem;      /* 33.2px / 16px = 2.075rem */
    --lead: 1.2rem;            /* 19.2px / 16px = 1.2rem */
    --body: 1rem;              /* 16px / 16px = 1rem */
    --btn-medium: 0.875rem;    /* 14px / 16px = 0.875rem */
    --small: 0.75rem;          /* 12px / 16px = 0.75rem */
    font-size: var(--body);
}
@font-face {
    font-family: 'spaceGrotek' ;
    src: url('./assets/fonts/SpaceGrotesk-Bold.ttf');
}

@font-face {
    font-family: 'plusJakarta-regular';
    src: url('./assets/fonts/PlusJakartaSans-Regular.ttf');
}
@font-face {
    font-family: 'plusJakarta-medium';
    src: url('./assets/fonts/PlusJakartaSans-Medium.ttf');
}
@font-face {
    font-family: 'plusJakarta-semiBold';
    src: url('./assets/fonts/PlusJakartaSans-SemiBold.ttf');
}
@font-face {
    font-family: 'plusJakarta-semiBold';
    src: url('./assets/fonts/PlusJakartaSans-SemiBold.ttf');
}
@font-face {
    font-family: 'plusJakarta-bold';
    src: url('./assets/fonts/PlusJakartaSans-Bold.ttf');
}

._title{font-size: var(--title);font-family: 'spaceGrotek';}
._title-2{font-size: var(--title-2);font-family: 'plusJakarta-bold';}
._subtitle{font-size: var(--subtitle);font-family: 'plusJakarta-bold';}
._lead{font-size: var(--lead);font-family: 'plusJakarta-medium';}
._body{font-size: var(--body);font-family: 'plusJakarta-medium';}
._btn{font-size: var(--body);font-family: 'plusJakarta-semiBold';}
._btn-medium{font-size: var(--btn-medium);font-family: 'plusJakarta-semiBold';}
._small{font-size: var(--small);font-family: 'plusJakarta-regular';}
._no-deco{text-decoration: none; list-style: none;}
._icon{font-size: 24px;}


@media screen and (max-width : 992px) {
    :root{
        --body : 14px;
    }
}

@media screen and (max-width : 576px) {
    :root{
        --body : 12px;
    }
    ._projectCard{
        width: 372px ;
    }
}